
body{
    height: 100%;
    font-family: Roboto, sans-serif;
    background-color: #edeef0;
}

.section{
    margin-bottom: 50px;
}

.section-top{
    margin-bottom: 20px;
}

.section-delivery{
    height: 400px;
    text-align: center;
    color: white;
    background-color: #005cbf;
}

.product-item{
    height: 500px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
    padding: 10px 0 5px 0;
    text-align: center;
    margin-bottom: 20px;
}

.product-item .product-item-image{
    height: 200px;
}

.product-item .product-item-image img{
    max-height: 100%;
    max-width: 100%;
}

.product-item .discount-container{
    position: absolute;
    top: 20%;
    background-color: #55e073;
    width: 30%;
    color: white;
    font-weight: 900;
    padding: 2px;
}

.product-item .product-item-price{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.product-item .add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
