
<nav class="navbar navbar-default navbar-top">

</nav>

<nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-main">
    <a class="navbar-brand" href="/">ONLINE SH<i class="fa fa-circle"></i>P</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <div class="basket-container">
                    <a class="nav-link" id="basket_link">
                        Корзина <span id="basket_total_number">
                        {% if products_total_number %}
                            ({{ products_total_number }})
                        {% else %}
                            (0)
                        {% endif %}
                    </span></a>
                    <div class="basket-items hidden">
                        <form class="form-inline" id="form_delete_product"
                              action="{% url 'delete_product_in_basket' %}">{% csrf_token %}
                                {% for product_in_basket in products_in_basket %}
                                <div class="form-row row-basket-item" id="basket_item_{{ product_in_basket.product.id }}">
                                    <div class="col-xl-10">
                                        {{ product_in_basket.product.name }} * {{ product_in_basket.number }}
                                        = {{ product_in_basket.total_price }}
                                    </div>
                                    <div class="col-xl-2">
                                        <button class="btn btn-link btn-delete-product-in-basket"
                                                type="button" data-product_id="{{ product_in_basket.product.id }}">
                                                убрать</button>
                                    </div>
                                </div>
                                {% endfor %}
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'checkout' %}" style="
                padding-top: 25px;">Заказать<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>